COMPOSE_PROJECT_NAME=siemlab
STACK_VERSION=9.3.1
COMPOSE_PLUGIN_VERSION=v5.0.1
ELASTIC_PASSWORD=BOOTSTRAP_GENERATES_RANDOM_PASSWORD
KIBANA_SYSTEM_PASSWORD=BOOTSTRAP_GENERATES_RANDOM_PASSWORD
ES_PORT=127.0.0.1:9200
KIBANA_PORT=127.0.0.1:5601
JUICE_SHOP_PORT=127.0.0.1:8080
ES_JAVA_OPTS=-Xms1g -Xmx1g
KIBANA_ENCRYPTION_KEY=BOOTSTRAP_GENERATES_RANDOM_KEY
REPORTING_ENCRYPTION_KEY=BOOTSTRAP_GENERATES_RANDOM_KEY
SECURITY_SESSION_KEY=BOOTSTRAP_GENERATES_RANDOM_KEY
LAB_ALERT_WAIT_SECONDS=75
LAB_INDEX_PATTERN=logs-lab.*
